*{
  box-sizing: border-box;
}
body{
  background-color: aliceblue;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.App{
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}
textarea{
padding-left: 10px;
font-size: 22px;
padding-top: 22px;
outline: none;
border: none;
background-color: antiquewhite;

}
.preview{
  padding-left: 10px;
  padding-right: 10px;
 
}